

@page "/PMotocicletas/ListaMotocicletas/{login:int}"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using ProyectoPracticaII.Client.Models;
@inject HttpClient http
@inject IHttpService Ihttp
@inject AuthenticationStateProvider autenticacionProvider;
@attribute [Authorize(Roles = "UsuarioRegistrado")]
@inject NavigationManager NavManager 
@using ProyectoPracticaII.Shared; 
@using ProyectoPracticaII.Client.extensiones; 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <section id="Menu">
            <ul>
                <a href="/Inicio">Inicio</a>
                <a href="#">Mi Perfil</a>
           
                <a @onclick="ReadTaller">Mi Taller</a>
                <a href="#">Salir</a>
            </ul>

        </section>
    </header>

    <br />




    <br />

    <h3>TUS MOTOS</h3>

    <br />
    <div class="btnCentrado">
        <a class="btnCrear" href="/PMotocicletas/CrearMoto"> REGISTRAR UNA NUEVA MOTO</a>
      
    </div>
   
    <div id="main-container">
        
        <table>
            <thead>
                <tr>

                    <th>Patente</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Aseguradora</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
            </thead>
          

            @if (motocicletas == null)
            {

                <th>Cargando...</th>
                
            }
            else if (motocicletas.Count == 0)
            {
                <tr>No existen datos</tr>
            }
            else
            {
                @foreach (var item in motocicletas)
                {
                    
                    <tr>

                        <td>@item.Marca</td>
                        <td>@item.Modelo</td>
                        <td>@item.Patente</td>
                        <td>@item.Año</td>
                        <td>@item.Aseguradora</td>
                        <td>
                            <a class="btn btn-primary" href="/PMotocicletas/EditarMoto/@item.IdMoto"> Editar</a>
                        </td>

                        <td>
                            <button class="btn btn-warning" @onclick="()=>ConfirmarDarDeBaja(item.IdMoto)">Dar de baja</button>
                        </td>


                    </tr>

                    @if (MostrarModalConfirmacion)
                    {
                        <div class="modal" style="display: block; color: white; ">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <h5>CONFIRMAR BAJA DE MOTO</h5>


                                    <p>¿Está seguro de que desea dar de baja esta moto? </p>



                                    <button type="button" class="btn btn-danger" @onclick="()=>{ DarDeBajaMoto(item.IdMoto); MostrarModalConfirmacion = false; RefreshPage(); }">Confirmar</button>
                                    <button type="button" class="btn btn-secondary" @onclick="()=>MostrarModalConfirmacion = false">Cancelar</button>
                                </div>
                            </div>
                        </div>

                    }
                  
                }
                
            }

        </table>
    </div>



    <Footer>
    <p> Motored &copy;. Todos los derechos reservados</p>
    </Footer>
</body>




</html>




@code {
    List<Models.Motocicleta> motocicletas;
    [Parameter] public int login { get; set; }
    Motocicleta NuevaMotocicleta = new Motocicleta();
    string IdUsuario; 
    private int IdMotoSeleccionado;
    [Inject] NavigationManager NavigationManager { get; set; }
    @inject IJSRuntime JSRuntime

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();


        await Leer();

       

       

    }

    string userPreferences;
    string storedUserPreferences;

    
    private async Task ReadTaller()
    {

        storedUserPreferences = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "correo");



        await ObtenerIdUsuario();

        NavManager.NavigateTo($"/PTaller/ListaTaller/{IdUsuario}");



    }
    async Task ObtenerIdUsuario()
    {
        try
        {

            var apiUrl = $"api/RastrearId?correo={storedUserPreferences}";

            var response = await http.GetAsync(apiUrl);
            if (response.IsSuccessStatusCode)
            {
                IdUsuario = await response.Content.ReadAsStringAsync();
            }
            else
            {
                IdUsuario = "Error al obtener el ID del usuario";
            }
        }
        catch (Exception ex)
        {
            IdUsuario = $"Error: {ex.Message}";
        }
    }
    private async Task Leer()
    {

        var respuesta = await Ihttp.Get<List<Motocicleta>>($"api/ListaMoto/{login}");
      
        if (!respuesta.Error)
        {
            motocicletas = respuesta.Respuesta;
        }
    }

    private void ConfirmarDarDeBaja(int IdMoto)
    {
        IdMotoSeleccionado = IdMoto;
        MostrarModalConfirmacion = true; 

    }

    private async Task DarDeBajaMoto(int id)
    {
        try
        {
            var response = await http.PutAsync($"api/ListaMoto/ActualizarEstado/{id}", null);

            if (response.IsSuccessStatusCode)
            {
                
                Console.WriteLine("Moto dada de baja exitosamente");


            }
            else
            {
                
                Console.WriteLine("Hubo un problema al dar de baja la moto");
            }
        }
        catch (Exception ex)
        {
            // Manejo de excepciones
            Console.WriteLine($"Error: {ex.Message}");
        }

    }
    private bool MostrarModalConfirmacion = false;

    private void RefreshPage()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

    public async Task EliminarMoto(int id)
    {
        var resultado = await http.DeleteAsync($"api/Motocicleta/{id}");

        //await Leer(id); 
    }

    

}
