

@page "/PMotocicletas/ListaMotocicletas/{login:int}"

@using ProyectoPracticaII.Client.Models;
@inject HttpClient http
@inject IHttpService Ihttp

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <section id="Menu">
            <ul>
                <a href="/">Inicio</a>
                <a href="#">Mi Perfil</a>
           
                <a href="PTaller/ListaTaller/">Mi Taller</a>
                <a href="#">Salir</a>
            </ul>

        </section>
    </header>

    <br />




    <br />

    <h3>TUS MOTOS</h3>

    <br />
    <div class="btnCentrado">
        <a class="btnCrear" href="/PMotocicletas/CrearMoto"> REGISTRAR UNA NUEVA MOTO</a>
    </div>
   
    <div id="main-container">
        
        <table>
            <thead>
                <tr>

                    <th>Patente</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Aseguradora</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
            </thead>
          

            @if (motocicletas == null)
            {
                <tr>Cargando...</tr>
            }
            else if (motocicletas.Count == 0)
            {
                <tr>No existen datos</tr>
            }
            else
            {
                @foreach (var item in motocicletas)
                {
                    <tr>

                        <td>@item.Marca</td>
                        <td>@item.Modelo</td>
                        <td>@item.Patente</td>
                        <td>@item.Año</td>
                        <td>@item.Aseguradora</td>
                        <td>
                            <a class="btn btn-primary" href="/PMotocicletas/EditarMoto/@item.IdMoto"> Editar</a>
                        </td>

                        <td>
                            <button class="btn btn-warning" @onclick="()=>EliminarMoto(item.IdMoto)">
                                Eliminar

                            </button>
                        </td>


                    </tr>
                }
            }

        </table>
    </div>



    <Footer>
    <p> Motored &copy;. Todos los derechos reservados</p>
    </Footer>
</body>




</html>




@code {
    List<Motocicleta> motocicletas;
    Motocicleta NuevaMotocicleta = new Motocicleta();
    [Parameter] public int login { get; set; }


    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Leer();
    }


    private async Task Leer()
    {

        var respuesta = await Ihttp.Get<List<Motocicleta>>($"api/ListaMoto/{login}");
        if (!respuesta.Error)
        {
            motocicletas = respuesta.Respuesta;
        }
    }


    public async Task EliminarMoto(int id)
    {
        var resultado = await http.DeleteAsync($"api/Motocicleta/{id}");

        await Leer(); 
    }
}
